*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: lightgray;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style-type: none;
    font-size: 1.15rem;
}

a {
    text-decoration: none;
}

#welcome-section {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

#welcome-section p {
    font-size: 1.25rem;
}

#projects {
    padding: 4rem;
}

#projects h2 {
    margin-bottom: 4rem;
    font-size: 2.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 0 auto;
}

.project-tile {
    border: 2px solid black;
    border-radius: 4px;
    background-color: lightgray;
}

.project-tile img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    image-rendering: optimizeQuality;
}

.project-tile button {
    display: block;
    margin: 1.5rem auto;
    padding: 0.75rem 3rem;
}

#profile-link {
    display: block;
    margin-top: 4rem;
}

#profile-link button {
    padding: 1rem 4rem;
}

#contact {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

#contact h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

#contact p {
    font-size: 1.25rem;
}

#contact ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
    list-style-type: none;
    font-size: 1.15rem;
}

.center-text {
    text-align: center;
}

footer {
    background-color: lightgray;
    padding: 1rem;
}